{
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true,
        "meteor": true,
        "node": true
    },
    "extends": [
        "semistandard",
        "plugin:meteor/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module",
        "impliedStrict": true
    },
    "plugins": ["meteor"],
    "rules": {
        "curly": ["warn", "all"],
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "linebreak-style": ["error", "unix"],
        "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "meteor/template-names": "off",
        "no-console": "off",
        "padded-blocks": "off",
        "space-in-parens": "off",
        "spaced-comment": "off"
    }
}
